@import url('./fonts.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (max-width: 768px) and (min-width: 320px) {
    .header{
        width: 320px;
        height: 65px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        position: relative;
    }

    .header-logo{
        margin-top: 4px;
    }

    .slider{
        width: 320px;
        height: 541px;
        margin: 0 auto;
    }

    .slider-left{
        width: 320px;
        height: 294px;
        background-image: url('./images/philip-martin-5aGUyCW_PJw-unsplash.png');
        background-size: 120%; 
    }
    .slider-right{
        width: 320px;
        height: 246px;
        background-color: #000;
        position: relative;
    }
    .slider-right>.date {
        position: absolute;
        top: 16px;
        left: 12px;
        font-family: Kanit Light;
        color: white;
        font-size: 12px;
        line-height: 17.94px;
        letter-spacing: 6px;
    }
    .slider-right>.lifestyle {
        display: none;
    }
    .slider-right>.text-big {
        width: 295px;
        height: 27px;
        font-family: Kanit Medium;
        color: white;
        font-size: 18px;
        line-height: 26.91px;
        text-transform: uppercase;
        position: absolute;
        top: 53px;
        left: 12px;
    }
    .slider-right>.text-small {
        width: 295px;
        height: 54px;
        font-family: Kanit Light;
        color: white;
        font-size: 12px;
        line-height: 17.94px;
        position: absolute;
        top: 100px;
        left: 12px;
    }
    .slider-right>button {
        width: 198px;
        height: 40px;
        color: white;
        font-family: Kanit Medium;
        font-size: 12px;
        line-height: 17.94px;
        border: 1px solid white;
        box-sizing: border-box;
        background-color: black;
        position: absolute;
        top: 174px;
        left: 12px;
    }
    .slider-right>button:focus {
        outline: none;
    }
    .featured {
        margin: 43px auto 0;
        width: 295px;
        height: 1794px;
        position: relative;
    }
    .featured>.title {
        font-family: Kanit Medium;
        font-size: 18px;
        line-height: 26.91px;
        color: #1F1F1D;
        position: absolute;
    }
    .featured>.img-left {   
        width: 100%;
        height: 195px;
        position: absolute;
        top: 43px;
        background: url('./images/b9ffe28e149d0bcadf2bca68941b95d0.png');
        background-position-y: -101px;
        background-size: 100%;
    }
    .featured>.img-right {   
        width: 100%;
        height: 195px;
        position: absolute;
        top: 453.41px;
        background: url('./images/photo-1492447166138-50c3889fccb1.jpg');
        background-position-y: -145px;
        background-size: 100%;
    }
    .featured>.img-left>.date {
        position: absolute;
        top: 204px;
        font-family: Kanit Medium;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 6px;
    }
    .featured>.img-right>.date {
        position: absolute;
        top: 204px;
        font-family: Kanit Medium;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 6px;
    }
    .featured>.img-left>.lifestyle {
        display: none;
    }
    .featured>.img-right>.lifestyle {
        display: none;
    }
    .text-left {
        width: 295px;
        height: 138px;
        position: absolute;
        top: 288px;
    }
    .text-left>.text-big {
        font-size: 18px;
        line-height: 26.91px;
        color: #1F1F1D;
        font-family: Kanit Medium;
        white-space: inherit;
    }
    .text-left>.text-small {
        font-size: 14px;
        line-height: 20.93px;
        font-family: Kanit Light;
        margin-top: 21px;
    }
    .text-right {
        width: 295px;
        height: 138px;
        position: absolute;
        top: 694px;
    }
    .text-right>.text-big {
        font-size: 18px;
        line-height: 26.91px;
        color: #1F1F1D;
        font-family: Kanit Medium;
        white-space: inherit;
    }
    .text-right>.text-small {
        font-size: 14px;
        line-height: 20.93px;
        font-family: Kanit Light;
        margin-top: 21px;
    }
    .triple {
        margin: 0  auto;
        width: 295px;
        height: 856px;
        position: absolute;
        top: 857px;
    }
    .triple>.left {
        position: relative;
        width: 295px;
        height: 259px;
    }
    .triple>.left>.img {
        width: 295px;
        height: 194.31px;
        background: url('./images/1ef33c0e7ae55571a7b6b8ad65d99578.png');
        background-size: 100%;
    }
    .triple>.middle {
        margin-top: 28px;
        position: relative;
        width: 295px;
        height: 271px;
    }
    .triple>.middle>.img {
        width: 295px;
        height: 215.22px;
        background: url('./images/0cbaee5c1520b8466c3b785853a3d8cb.png');
        background-size: 120%;
    }
    .triple>.right {
        margin-top: 27px;
        position: relative;
        width: 295px;
        height: 271px;
    }
    .triple>.right>.img {
        width: 295px;
        height: 215px;
        background: url('./images/c09bb601ae59160bff460494f861c13c.png');
        background-position: center;
    }
    .triple>.button {
        position: absolute;
        width: 238px;
        height: 42px;
        background-color: #303030;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        font-family: Kanit Medium;
        font-size: 14px;
        cursor: pointer;
        margin-top: 37px;
        left: 28.5px;
    }
    .triple>.button:focus {
        outline: none;
    }
    .triple>.left>.date {
        position: absolute;
        top: 208px;
        font-family: Kanit Medium;
        font-size: 12px;
        line-height: 17.94px;
        letter-spacing: 6px;
    }
    .triple>.left>.lifestyle {
        position: absolute;
        top: 208px;
        right: 0;
        font-family: Kanit Medium;
        font-size: 12px;
        line-height: 17.94px;
        text-decoration-line: underline;
    }
    .triple>.left>.caption {
        position: absolute;
        top: 245px;
        font-family: Kanit Medium;
        font-size: 16px;
        line-height: 23.92px;
        text-transform: uppercase;
    }
    .triple>.middle>.date {
        position: absolute;
        top: 220px;
        font-family: Kanit Medium;
        font-size: 12px;
        line-height: 17.94px;
        letter-spacing: 6px;
    }
    .triple>.middle>.lifestyle {
        position: absolute;
        top: 220px;
        right: 0;
        font-family: Kanit Medium;
        font-size: 12px;
        line-height: 17.94px;
        text-decoration-line: underline;
    }
    .triple>.middle>.caption {
        position: absolute;
        top: 247px;
        font-family: Kanit Medium;
        font-size: 16px;
        line-height: 23.92px;
        text-transform: uppercase;
    }
    .triple>.right>.date {
        position: absolute;
        top: 220px;
        font-family: Kanit Medium;
        font-size: 12px;
        line-height: 17.94px;
        letter-spacing: 6px;
    }
    .triple>.right>.lifestyle {
        position: absolute;
        top: 220px;
        right: 0;
        font-family: Kanit Medium;
        font-size: 12px;
        line-height: 17.94px;
        text-decoration-line: underline;
    }
    .triple>.right>.caption {
        position: absolute;
        top: 247px;
        font-family: Kanit Medium;
        font-size: 16px;
        line-height: 23.92px;
        text-transform: uppercase;
    }
    .event {
        margin: 0 -12.5px;
        width: 320px;
        height: 420.61px;
        position: relative;
        top: 1837px;
    }
    .event>.img {
        width: 320px;
        height: 245px;
        background: url('./images/sincerely-media-VNsp_2Ml-nA-unsplash.jpg');
        background-size: 100%;
        background-position-y: -220px;
    }
    .event>.right {
        width: 319.72px;
        height: 174.52px;
        background-color: #000000;
        position: relative;
    }
    .event>.right>p {
        color: white;
        font-family: Kanit Medium;
        font-size: 18px;
        line-height: 26.91px;
        position: absolute;
        top: 39.84px;
        left: 70px;
    }
    .event>.right>button {
        width: 198px;
        height: 42px;
        color: white;
        font-family: Kanit Medium;
        font-size: 14px;
        line-height: 20.93px;
        border: 1px solid white;
        box-sizing: border-box;
        background-color: black;
        position: absolute;
        top: 93.84px;
        left: 61px;
    }
    .event>.right>button:focus {
        outline: none;
    }
    .interviews {
        margin: 499px auto 0;
        width: 295px;
        height: 978px;
        position: relative;
    }
    .interviews>.title {
        font-family: Kanit Medium;
        font-size: 18px;
        line-height: 26.91px;
        color: #1F1F1D;
        position: absolute;
    }
    .interviews>.left {
        position: relative;
        top: 43px;
        width: 295px;
        height: 259px;
    }
    .interviews>.left>.img {
        width: 295px;
        height: 194px;
        background: url('./images/3afdd70c1f36772823ceade9fb3e9a80.png');
        background-size: 100%;
    }
    .interviews>.middle {
        position: relative;
        top: 71px;
        width: 295px;
        height: 271px;
    }
    .interviews>.middle>.img {
        width: 295px;
        height: 215px;
        background: url('./images/6255cfa58b0c8e58b8f9cf0a44f17f6e.png');
        background-size: 120%;
        background-position: center;
    }
    .interviews>.right {
        position: relative;
        top: 98px;
        width: 295px;
        height: 271px;
    }
    .interviews>.right>.img {
        width: 295px;
        height: 215px;
        background: url('./images/c7d367d609c7731e836fa338f14f668d.png');
        background-size: 120%;
        background-position: center;
    }
    .interviews>.left>.date {
        position: absolute;
        top: 208px;
        font-family: Kanit Medium;
        font-size: 12px;
        line-height: 17.94px;
        letter-spacing: 6px;
    }
    .interviews>.left>.interviews-t {
        position: absolute;
        top: 208px;
        right: 0;
        font-family: Kanit Medium;
        font-size: 12px;
        line-height: 17.94px;
        text-decoration-line: underline;
        text-transform: uppercase;
    }
    .interviews>.left>.caption {
        position: absolute;
        top: 241px;
        font-family: Kanit Medium;
        font-size: 16px;
        line-height: 23.92px;
        text-transform: uppercase;
    }
    .interviews>.middle>.date {
        position: absolute;
        top: 220px;
        font-family: Kanit Medium;
        font-size: 12px;
        line-height: 17.94px;
        letter-spacing: 6px;
    }
    .interviews>.middle>.interviews-t {
        position: absolute;
        top: 220px;
        right: 0;
        font-family: Kanit Medium;
        font-size: 12px;
        line-height: 17.94px;
        text-decoration-line: underline;
        text-transform: uppercase;
    }
    .interviews>.middle>.caption {
        position: absolute;
        top: 253px;
        font-family: Kanit Medium;
        font-size: 16px;
        line-height: 23.92px;
        text-transform: uppercase;
    }
    .interviews>.right>.date {
        position: absolute;
        top: 220px;
        font-family: Kanit Medium;
        font-size: 12px;
        line-height: 17.94px;
        letter-spacing: 6px;
    }
    .interviews>.right>.interviews-t {
        position: absolute;
        top: 220px;
        right: 0;
        font-family: Kanit Medium;
        font-size: 12px;
        line-height: 17.94px;
        text-decoration-line: underline;
        text-transform: uppercase;
    }
    .interviews>.right>.caption {
        position: absolute;
        top: 253px;
        font-family: Kanit Medium;
        font-size: 16px;
        line-height: 23.92px;
        text-transform: uppercase;
    }
    .interviews>.button {
        width: 238px;
        height: 42px;
        background-color: #303030;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        font-family: Kanit Medium;
        font-size: 14px;
        cursor: pointer;
        position: absolute;
        top: 936px;
        left: 28.5px;
    }
    .interviews>.button:focus {
        outline: none;
    }
    .news {
        margin: 43px auto 0;
        width: 295px;
        height: 978px;
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    .news>.title {
        font-family: Kanit Medium;
        font-size: 18px;
        line-height: 26.91px;
        color: #1F1F1D;
        position: absolute;
    }
    .news>.left {
        position: absolute;
        top: 43px;
        width: 295px;
        height: 259px;
    }
    .news>.left>.img {
        width: 295px;
        height: 194px;
        background: url('./images/055f744c5c8264e3733507f1ef966340.png');
        background-size: 140%;
        background-position-x: -110px;
        background-position-y: center;
    }
    .news>.middle {
        position: absolute;
        top: 330px;
        right: 0;
        width: 295px;
        height: 271px;
    }
    .news>.middle>.img {
        width: 295px;
        height: 215px;
        background: url('./images/1ba4464e81254e183088a4e4416f34a5.png');
        background-size: 100%;
        background-position-y: center;
    }
    .news>.right {
        position: absolute;
        top: 628px;
        right: 0;
        width: 295px;
        height: 271px;
    }
    .news>.right>.img {
        width: 295px;
        height: 215px;
        background: url('./images/e6a46ba8470bd9cac6ac014dba03774a.png');
        background-size: 102%;
        background-position-y: -81px;
        background-position-x: left;
    }
    .news>.left>.date {
        position: absolute;
        top: 208px;
        font-family: Kanit Medium;
        font-size: 12px;
        line-height: 17.94px;
        letter-spacing: 6px;
    }
    .news>.left>.news-t {
        position: absolute;
        top: 208px;
        right: 0;
        font-family: Kanit Medium;
        font-size: 12px;
        line-height: 17.94px;
        text-decoration-line: underline;
        text-transform: uppercase;
    }
    .news>.left>.caption {
        position: absolute;
        top: 241px;
        font-family: Kanit Medium;
        font-size: 16px;
        line-height: 23.92px;
        text-transform: uppercase;
    }
    .news>.middle>.date {
        position: absolute;
        top: 220px;
        font-family: Kanit Medium;
        font-size: 12px;
        line-height: 17.94px;
        letter-spacing: 6px;
    }
    .news>.middle>.news-t {
        position: absolute;
        top: 220px;
        right: 0;
        font-family: Kanit Medium;
        font-size: 12px;
        line-height: 17.94px;
        text-decoration-line: underline;
        text-transform: uppercase;
    }
    .news>.middle>.caption {
        position: absolute;
        top: 253px;
        font-family: Kanit Medium;
        font-size: 16px;
        line-height: 23.92px;
        text-transform: uppercase;
    }
    .news>.right>.date {
        position: absolute;
        top: 220px;
        font-family: Kanit Medium;
        font-size: 12px;
        line-height: 17.94px;
        letter-spacing: 6px;
    }
    .news>.right>.news-t {
        position: absolute;
        top: 220px;
        right: 0;
        font-family: Kanit Medium;
        font-size: 12px;
        line-height: 17.94px;
        text-decoration-line: underline;
        text-transform: uppercase;
    }
    .news>.right>.caption {
        position: absolute;
        top: 253px;
        font-family: Kanit Medium;
        font-size: 16px;
        line-height: 23.92px;
        text-transform: uppercase;
    }
    .news>.button {
        width: 238px;
        height: 42px;
        background-color: #303030;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        font-family: Kanit Medium;
        font-size: 14px;
        cursor: pointer;
        position: absolute;
        top: 936px;
        left: 28.5px;
    }
    .news>.button:focus {
        outline: none;
    }
    .footer {
        margin: 43px auto 0;
        width: 320px;
        height: 163px;
        background-color: #000;
        display: flex;
        justify-content: center;
        padding-top: 55px;
        position: relative;
    }
    .footer>p {
        color: #fff;
        font-family: Kanit ExtraLight;
        position: absolute;
        top: 120px;
        font-size: 12px;
        line-height: 17.94px;
    }
    aside {
        display: none;
    }
    .line-3 {
        position: absolute;
        width: 24px;
        height: 2px;
        left: 23px;
        top: 23px;
        border: 1px solid #000000;
        background-color: #000000;
    }
    .line-4 {
        position: absolute;
        width: 18px;
        height: 2px;
        left: 23px;
        top: 31px;
        border: 1px solid #000000;
        background-color: #000000;
    }
    .line-5 {
        position: absolute;
        width: 24px;
        height: 2px;
        left: 23px;
        top: 39px;
        border: 1px solid #000000;
        background-color: #000000;  
    }
} 